@import "../../styles/theme"

.sidebar-icon
	border-radius: 1rem
	width: 4rem
	height: 4rem
	display: flex
	justify-content: center
	align-items: center
	background-color: $spaces-color-dark-1

	text-decoration: none
	color: $spaces-color-light-0

	transition: background-color 0.5s ease

	& >a, >button, >span, >h1
		cursor: pointer

	& >a
		text-decoration: none
		color: $spaces-color-light-0

	&:hover
		background-color: $spaces-color-dark-3
