@import "../../styles/border-radius"
@import "../../styles/box-shadow"
@import "../../styles/theme"

.button
  border: 0px
  padding: 0.25em
  background-color: $spaces-color-dark-3
  color: $spaces-color-light-0

  transition: box-shadow 0.5s ease

  display: flex
  align-items: center

  &:hover
    @extend .box-shadow

    cursor: pointer

.button-small
  @extend .border-radius-crisp

  padding: 0.5em
  font-size: 1.25rem

.button-medium
  @extend .border-radius-bubble

  padding: 0.5em
  font-size: 1.5rem
  border-radius: 0.5em

.button-large
  @extend .border-radius-bubble

  padding: 0.75rem
  font-size: 2rem
