.margin-comfortable
	margin: 2rem

.margin-compact
	margin: 1rem

.margin-none
	margin: 0rem

.margin-x-auto
	margin-left: auto
	margin-right: auto

.margin-y-auto
	margin-top: auto
	margin-bottom: auto

.padding-comfortable
	padding: 2rem

.padding-compact
	padding: 1rem

.padding-none
	padding: 0rem

.column-item
	&:not(:first-child)
		margin-top: 0.5em

	&:not(:last-child)
		margin-bottom: 0.5em

.row-item
	&:not(:first-child)
		margin-left: 0.5em

	&:not(:last-child)
		margin-right: 0.5em
