$spaces-bg-color-0: #222222
$spaces-bg-color-1: #282828
$spaces-bg-color-2: #343434
$spaces-bg-color-3: #404040

$spaces-fg-color-white: #ffffff
$spaces-fg-color-muted: #c0c0c6

$spaces-color-green: #60cc60

.background-color-0
	background-color: $spaces-bg-color-0

.background-color-1
	background-color: $spaces-bg-color-1

.background-color-2
	background-color: $spaces-bg-color-2

.background-color-3
	background-color: $spaces-bg-color-3

.foreground-color-white
	background-color: $spaces-fg-color-white

.foreground-color-muted
	background-color: $spaces-fg-color-muted
