@import "./styles/theme"

*
  box-sizing: border-box
  font-family: "Sofia Pro"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: $spaces-color-dark-1
  color: $spaces-color-light-0
  margin: 0px
  padding: 0px

a
  color: inherit
  text-decoration: none

  &:visited
    color: inherit
    text-decoration: none

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

input, select, textarea
  background-color: $spaces-color-dark-1
  color: white
  border: 0px

.centered-fullscreen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh

.App-logo
  height: 40vmin
  pointer-events: none

@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation: App-logo-spin infinite 20s linear

.App-link
  color: #61dafb

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
