* {
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 0.5rem
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}


a:visited {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
select,
textarea {
  background-color: var(--bg-primary);
  color: white;
  border: 1px solid white;
}

hr {
  border-style: solid;
}